.productDescription{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.numberField{
  & input{
    height: .125rem
  }

  & fieldset{
    border-color: inherit;
  }
}